input[disabled], select[disabled], textarea[disabled] {
    cursor: not-allowed;
}

.organizer {
    padding: 0;
    margin: 0;
    border: 0;
}

.savedaddressfields {
    padding: 0;
    margin: 0;
    border: 0;
    display: none;

}

.savedaddressparent {
    padding: 0;
    margin: 0;
    border: 0;
    display: none;
}

.newaddressfields {
    display: initial;
}
