@{
    ViewData["Title"] = "About";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-4 titantext">What IS This Site Sucks? </h1>
    <h3>(NOT DOT COM)</h3>
    <p class="lead"><strong>This Site Sucks</strong> is joy, manifest. You're welcome. </p>
    <div class="justify-content-center"><img src="~/images/ThisBannerSucks1.gif" /></div>
</div>


