@{
    ViewData["Title"] = "Contact";
}


<div class="jumbotron text-xs-center">
    <h1 class="display-4 titantext">Talk to Me.</h1>
      <p class="lead">Need to contact me? Want to contact me? Please contact me. </p>
</div>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
