@{
    ViewData["Title"] = "Home";
}


<div class="jumbotron">
    <div class="container" id="homecontainer">
        <h1 class="titantext display-4">This Site Sucks.</h1>
        <p class="lead" id="thatsthename">That's the name of this site.</p>
    </div>
</div>
<div class="titantext" id="wehaveitall"><h1>We have it all:</h1></div>
<div class="showcaseparent borders">
    <div class="showcase showcase1">
        <div class="showcasepic"><img class="borders" src="~/images/shirt1.jpg" /></div>
        <div class="titantext stamp" id="shirts"><h1>Shirts</h1></div>
    </div>
    <div class="showcase showcase2">
        <div class="showcasepic"><img class="borders" src="~/images/hat1.jpg" /></div>
        <div class="titantext stamp" id="hats"><h1>Hats</h1></div>

    </div>
    <div class="showcase showcase3">
        <div class="showcasepic"><img class="borders" src="~/images/brokenshirt.jpg" /></div>
        <div class="titantext stamp" id="OShirts"><h1>Other Shirts</h1></div>
    </div>
</div>


