
@{
    ViewData["Title"] = "Forgot Yer Password?";
}

<div class="results titantext add-padd borders">
    <h2 class="header">Forgot your password?</h2>
</div>

<form method="post">
    <div class="form-group">
        <label for="Email">
            Email
        </label>
        <input type="email" name="email" class="form-control" required placeholder="Enter your email" />
    </div>
    <input type="submit" class="btn btn-primary" value="Send me reset instructions" />
</form>